{% extends 'base.html' %}

{% block content %}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <!--Duplicate starts here-->
            <div class="col-lg-4">
                <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex features-icons-icon"><i class="fas fa-suitcase m-auto text-primary" data-bs-hover-animate="pulse"></i></div>
                    <h3>Efficient Items</h3>
                    <p class="lead mb-0">Finds most efficient item for each item in a set.</p>
                    <a href="{% url 'list_efficient_items' %}" class="stretched-link"></a>
                </div>
            </div>
            <!--End Duplicate-->
        </div>
    </div>
</section>

<div class="modal fade" role="dialog" tabindex="-1" id="loading_modal">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body align-self-center"><span class="spinner-border" role="status" style="width: 10rem;height: 10rem;font-size: 100px;"></span></div>
        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}

<script>
    $(document).ready (function () {
        $("#loading_modal").modal({
            backdrop: 'static',
            keyboard: false,
            show: false,
        })

        $('.stretched-link').click(function(e) {
            if(e.button == 0) {
                $('#loading_modal').modal('show');
            }
        });
    });
</script>

{% endblock %}